@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body:not(i, h1, h2, h3, h4, h5, h6) {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}
.navbar-brand img {
  max-width: 280px;
}
footer .navbar-brand img {
  max-width: 200px;
}
footer a.btn-link {
  width: max-content;
}
.featurs_section .featurs-item {
  height: 100%;
}
.see-more-button {
  color: var(--bs-primary);
  cursor: pointer;
  display: inline;
}
.service .content_column_main {
  position: relative;
  min-height: 180px;
}
.service .service-item img {
  min-height: 275px;
  max-height: 275px;
  object-fit: cover;
}
.small_text {
  font-size: 14px;
  line-height: 19px;
  display: inline-block;
}
.banner_sec .banner_img {
  /* transform: rotate(180deg); */
}
.fruite .hydroponics_img {
  max-height: 270px;
  object-fit: contain;
}
.products_services_section .products_content_part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 219px; */
}
.services_slider_section .rounded-bottom.text-start {
  min-height: 199px;
}
.contact .address_text_col a {
  color: #747d88;
}
.contact .address_text_col a:hover {
  color: var(--bs-primary);
}
.fruite ._single_item {
  display: inline-block;
  height: 100%;
}
.SingleCaseStudies ._single_item {
  margin-bottom: 1.2rem;
}
.SingleCaseStudies ._single_item,
.SingleCaseStudies .fruite-item {
  height: auto;
}
.fruite ._single_item .small_text {
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.navbar-toggler {
  box-shadow: none !important;
}
.service .service-item h3 {
  font-size: 1.3rem;
}
.contact form textarea {
  min-height: 142px;
}
.footer_Subscribe_form .forminator-row {
  margin-bottom: 0 !important;
}
.footer_Subscribe_form .forminator-input {
  border-radius: 50rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  border: 0 !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #747d88 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  outline: 0;
  max-height: 55px !important;
}
.footer_Subscribe_form .forminator-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(129, 196, 8, 0.25) !important;
}
.footer_Subscribe_form .forminator-row-last {
  margin-bottom: 0 !important;
  position: relative;
}
.footer_Subscribe_form .forminator-button-submit {
  color: #fff !important;
  border-radius: 50rem !important;
  font-weight: 600 !important;
  cursor: pointer;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
  border: 0 !important;
  background-color: #81c408 !important;
  font-size: 1rem !important;
  max-height: 55px !important;
  position: absolute !important;
  bottom: 0;
  right: 0;
  height: max-content !important;
  width: max-content !important;
  margin-bottom: 0 !important;
}
.footer_Subscribe_form .forminator-has_error .forminator-error-message {
  position: absolute;
  width: 100%;
}
.footer_Subscribe_form .forminator-button-submit:hover {
  background: var(--bs-secondary) !important;
  color: var(--bs-white) !important;
  box-shadow: 0 0 0 0.25rem rgba(110, 167, 7, 0.5) !important;
}
.footer_Subscribe_form .forminator-button-submit:focus {
  box-shadow: 0 0 0 0.25rem rgba(110, 167, 7, 0.5) !important;
}
#contactPageFormS .forminator-row {
  margin-bottom: 1.5rem !important;
}
#contactPageFormS .forminator-row-last {
  margin-bottom: 0 !important;
}
#contactPageFormS .forminator-textarea,
#contactPageFormS .forminator-input {
  border: 0 !important;
  border-radius: 10px;
  padding: 0.375rem 0.75rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #747d88 !important;
  background-color: #fff !important;
}

#contactPageFormS .forminator-button {
  color: #81c408 !important;
  border: 1px solid #ffb524 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  background-color: #fff !important;
  font-size: 1rem !important;
  border-radius: 10px !important;
  text-align: center !important;
  vertical-align: middle !important;
}
#contactPageFormS .forminator-button:hover {
  background: var(--bs-secondary) !important;
  color: var(--bs-white) !important;
  box-shadow: none !important;
}
#contactPageFormS .forminator-textarea:focus,
#contactPageFormS .forminator-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(129, 196, 8, 0.25) !important;
}
@media only screen and (max-width: 1399px) {
  .services_slider_section .rounded-bottom.text-start {
    min-height: 237px;
  }
  .contact form textarea {
    min-height: 167px;
  }
}
@media only screen and (max-width: 1199px) {
  .services_slider_section .rounded-bottom.text-start {
    min-height: 220px;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-item .content h2 {
    font-size: 30px;
    line-height: 36px;
  }
  .carousel-item img {
    max-height: 550px !important;
    min-height: 550px !important;
  }
}
@media only screen and (min-width: 992px) {
  .address_text_col .py_custom_desktop {
    padding-top: 1.85rem !important;
    padding-bottom: 1.85rem !important;
  }
}
@media only screen and (max-width: 991px) {
  .services_slider_section .rounded-bottom.text-start {
    min-height: 175px;
  }
}
@media only screen and (max-width: 782px) {
  .footer_Subscribe_form .forminator-button-submit {
    right: 0 !important;
  }
}
@media only screen and (max-width: 767px) {
  .navbar-brand img {
    max-width: 200px;
  }
  .carousel-item .content h2 {
    font-size: 22px;
    line-height: 26px;
  }
  .carousel-item img {
    max-height: 400px !important;
    min-height: 400px !important;
  }
  .services_slider_section .rounded-bottom.text-start {
    min-height: auto;
  }
}
@media only screen and (max-width: 520px) {
  .service .service-item img,
  .fruite .fruite-item .fruite-img img {
    min-height: 225px;
    max-height: 225px;
  }
  .breadcrumb {
    text-align: center;
  }
  .footer_Subscribe_form .forminator-has_error .forminator-error-message,
  .footer_Subscribe_form .forminator-button-submit {
  position: unset !important;
}
.footer_Subscribe_form .forminator-row {
     margin-bottom: 20px !important; 
}
.footer_Subscribe_form .forminator-row-last {
    margin-bottom: 0 !important;
}
.footer .col-lg-3 .d-flex.justify-content-end {
    justify-content: start !important;
}
}
